@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>


    </head>

    <body>
        <div class="row">
            <div class="col-6">
                <h3>Hesap Eklenecek kişi bilgileri</h3>

                <p>Kullanıcı adı: @Model.Name</p>

                <p>Kullanıcı soy adı : @Model.SurName</p>

            <p>Kullanıcı toplam Hesap Sayısı:<getAccountCount application-user-id="@Model.Id"></getAccountCount> </p>

            </div>

            <div class="col-6">

            </div>
        </div>

    </body>

</html>

